@model ProyectoIPC22011903872.Models.ViewModels.PartidaViewModel
@{
    ViewBag.Title = "Partida";
    Layout = "~/Views/Shared/_LayoutJuego.cshtml";
}
<div class="row justify-content-center align-content-center " style="height:90vh">
    <div class="col col-md-11 bg-negro-80" style="height:95%">
        <div class="row h-100">
            <div class="col col-md-3">
                <div class="row borde-naranja scroll" style="max-height:45vh">
                    <div class="col col-md-12">
                        <div class="form-group mt-2 h-30">
                            <label class="h4 w-100 text-center text-white font-weight-bold">@ViewBag.partida.jugador1</label>
                            <div class="row justify-content-center align-content-center mt-2 h-75">
                                <div class="col col-sm-6 h-100">
                                    <div class="row justify-content-center align-content-center bg-verde h-100">
                                        <div class="ficha @ViewBag.partida.color_jugador1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-2 h-30">
                            <label class="h4 w-100 text-center text-white font-weight-bold">Puntaje</label>
                            <div class="row justify-content-center align-content-center mt-2 h-75">
                                <div class="col col-sm-6 h-100">
                                    <div class="row justify-content-center align-content-center bg-verde h-100">
                                        <p class="font-weight-bold text-white h1">@ViewBag.partida.punteo_jugador1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row scroll " style="max-height:40vh">
                    <div class="col col-md-12 h-100">
                        <div class="form-group mt-4 h-100">
                            <label class="h4 w-100 text-center text-white font-weight-bold">TURNO</label>
                            <div class="row justify-content-center align-content-center mt-2 h-75">
                                <div class="col col-sm-6 h-100">
                                    <div class="row justify-content-center align-content-center bg-verde h-100">
                                        <div class="ficha @ViewBag.partida.siguiente_tiro">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6 bg-naranja h-100">
                <div class="row justify-content-center align-content-center h-100">
                    <div class="w-100" style="height:5%">
                    </div>
                    <div class="" style="width:4.16666%;height:90%">
                    </div>
                    <div class="col col-11 bg-secondary" style="height:90%">
                        <div class="row justify-content-center align-content-center h-100">
                            <div style="height:95%; width:96%">
                                <div class="row justify-content-around align-content-around h-100">
                                    @foreach (var fila in ViewBag.partida.Filas)
                                    {
                                        <div class="col col-12" style="height:10%">
                                            <div class="row justify-content-around align-content-around h-100">
                                                @foreach (var columna in fila.columnas)
                                                {
                                                <div class="bg-verde h-100" style="width:9%">
                                                    @if (String.IsNullOrEmpty(columna.color))
                                                    {
                                                        using (Html.BeginForm("Partida", "Partida", FormMethod.Post, new { @class = "w-100 h-100" }))
                                                        {
                                                            <input type="text" hidden name="nom" id="nom" value="@ViewBag.partida.nombre" />
                                                            <input type="text" hidden name="fila" id="fila" value="@fila.nombre" />
                                                            <input type="text" hidden name="columna" id="columna" value="@columna.nombre" />
                                                            <button type="submit" class="btn btn-block btn-ficha"></button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="w-100 btn-ficha @columna.color"></div>
                                                    }
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" style="width:4.16666%;height:90%">
                    </div>
                    <div class="w-100" style="height:5%">
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="row borde-naranja scroll" style="max-height:45vh">
                    <div class="col col-md-12">
                        <div class="form-group mt-2 h-30">
                            <label class="h4 w-100 text-center text-white font-weight-bold">@ViewBag.partida.jugador2</label>
                            <div class="row justify-content-center align-content-center mt-2 h-75">
                                <div class="col col-sm-6 h-100">
                                    <div class="row justify-content-center align-content-center bg-verde h-100">
                                        <div class="ficha @ViewBag.partida.color_jugador2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-2 h-30">
                            <label class="h4 w-100 text-center text-white font-weight-bold">Puntaje</label>
                            <div class="row justify-content-center align-content-center mt-2 h-75">
                                <div class="col col-sm-6 h-100">
                                    <div class="row justify-content-center align-content-center bg-verde h-100">
                                        <p class="font-weight-bold text-white h1">@ViewBag.partida.punteo_jugador2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row scroll" style="max-height:40vh">
                    <div class="col col-12 mt-3">
                        <div class="form-group mt-5">
                            <form action="/Partida/GuardarPartida" method="post">
                                <div class="form-group">
                                    <input type="text" name="nombre" hidden value="@ViewBag.partida.nombre" />
                                </div>
                                <input type="submit" class="btn btn-dark btn-block" value="GUARDAR PARTIDA">
                            </form>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="form-group mt-5">
                            <a href="/Partida/index" class="btn btn-dark btn-block">SALIR DEL JUEGO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

