<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MisEstilos.css" rel="stylesheet" />
    <style>
        body {
            background: url('/Public/IMG/Fondo2.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-subrayado">
        <a href="~/Principal/Index" class="navbar-brand ml-5 font-italic font-weight-bold">
            <h3>Othello</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse font-weight-bold ml-5" id="navbar">
            <ul class="navbar-nav ">
                <li class="nav-item mr-5 @Html.IsActive("Partida","Index")">
                    <a href="~/Partida/Index" class="nav-link ">Othello</a>
                </li>
                <li class="nav-item mr-5 @Html.IsActive("Partida","Xtream")">
                    <a href="~/Partida/Xtream" class="nav-link ">Othello Xtream</a>
                </li>
                <li class="nav-item mr-5 @Html.IsActive("Partida","Index2")">
                    <a href="#" class="nav-link ">Torneos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    if (ViewBag.user!=null)
                    {
                        <li class="nav-link">
                            <a href="" class="nav-link">@ViewBag.user.Nombre @ViewBag.user.Apellido</a>
                        </li>
                    }
                    <li class="nav-link">
                        <a href="/Principal/Logout" class="nav-link">Salir</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/popper.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
