<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/MisEstilos.css" rel="stylesheet" />
    <style>
        body {
            background: url(@RenderSection("imagen",false)) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="Mi-footer">
        <p>&copy; @DateTime.Now.Year - Othello</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/fontawesome/fontawesome.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
